@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: #0a0f1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0f1a;
}

::-webkit-scrollbar-thumb {
  background: #0ea5ea;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0bd1d1;
}